@import "variables";

.card {
  min-width: 180px;
  height: 250px;
  position: relative;
  border-radius: $radius-border;
  display: block;
  .image {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: $radius-border;
      width: 100%; /* Ou une autre valeur spécifique */
      height: auto; /* Assure que la hauteur est ajustée automatiquement */
    }
  }
  .content {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding: 1.5rem 1rem;
    position: absolute;
    z-index: 20;
    color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: $radius-border;
    @include flex-center(center);
    flex-direction: column;
    background-color: #102b278a;
    bottom: 0;
    gap: 0.5rem;

    h2 {
      font-size: 1rem;
      text-align: center;
      color: #46dac1;
    }
    span {
      color: #46dac1;
    }
  }
  .vote {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 25px;
    border-radius: 1rem 0 1.5rem 0;
    z-index: 50;
    font-weight: 600;
    background-color: $secondary-text;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
  }
  &:hover .content {
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  &:hover .vote {
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
  }
}
